@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Import custom variables and Bulma overides
@import './variables.scss';

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';

// Fix for transparent background on active nav items
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: inherit;
}

*,
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
}

#body-content {
  height: 100vh;
  width: 100vw;
}

.card {
  position: relative;
  min-height: 90vh;
  height: 90vh;
  max-height: 90.1vh;
  border-radius: 15px;
  

  @media screen and (min-width: 600px) {
    &.scrollable {
      overflow-y: scroll;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 0);
        margin: 1em 0px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(255, 255, 255, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(88, 210, 178, 0.6);
        border-radius: 10px;
        background-image: -webkit-linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.5) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0.5) 75%,
          transparent 75%,
          transparent
        );
      }
    }
  }
}

h1.has-text-white {
  color: white;
  font-style: italic;

  a {
    color: inherit;
  }
  
}

.image-container {
  width: 115px;
  height: 115px;
  place-content: center;
  border-radius: 100%;
  border: solid 4px $color-semi-transparent;
  display: flex;
  align-items: center;
}

.img {
  max-width: 115px;
  max-height: 115px;
}

.birds {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.scrapbook-entry {
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  left: 25px;
  margin: 1em;
}

.bird-profile-img {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 4px $color-semi-transparent;
  justify-content: center;
  margin: 1em auto;
  img {
    max-width: 300px;
    max-height: 300px;
  }
}
.birdDetails {
  padding: 1em;
}
// .mapboxgl-map button {
//   display: block;
//   width: 2em !important;
// }
.buttons {
  margin-top: 1em;
  justify-content: space-around;
}
.button {
  text-transform: uppercase;
}
.login-redirect,
.register-redirect {
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  width: auto;

  a {
    width: 200px;
    padding: 0.5em;
    border-radius: 10px;
    border: solid 1px $color-semi-transparent;
    background-color: $color-semi-transparent;
    margin: 1em;
    text-align: center;
    color: #232323;
  }
}

.navLink {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  background-color: white;
  border-radius: 50%;
  border: solid 2px $color-semi-transparent;
  box-sizing: content-box;
  transform: translateX(-50%);

  a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    color: #232323;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0px;
   
  }
}

a {
  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer
}

.marker-btn img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
