@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Import custom variables and Bulma overides
@import './variables.scss';

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';

// Fix for transparent background on active nav items
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: inherit;
}

*,
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  background-color: $bg-color;
}

#body-content {
  height: 100vh;
  width: 100vw;
}

.card {
  position: relative;
  min-height: 90vh;
  height: 90vh;
  max-height: 90.1vh;
  border-radius: 15px;
  background-color: #b5bd91;
  

  &.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.scrollable {
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: rgba(255, 255, 255, 0);
      margin: 1em 0px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(255, 255, 255, 0);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-mostly-transparent;
      border-radius: 10px;
      background-image: -webkit-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 75%,
        transparent 75%,
        transparent
      );
    }
  }
}

.authForm {
  width: 90%;
  margin: 0 auto;

  .columns {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 840px) {
      flex-direction: row;
      input:nth-of-type(2) {
        margin-left: 1em;
      }
    }
  }

  input {
    font-family: inherit;
    margin-bottom: 1em;
    border-radius: 15px;
    background-color: $card-bg;
    color: $bg-color;

    &::placeholder {
      color: $bg-color-transparent;
    }

    &.button {
      border: solid 1px $color-semi-transparent;
      background-color: $color-semi-transparent;
      color: $light-color;
      font-weight: bold;
      &:hover,
      &:active {
        background-color: $color-mostly-transparent;
        color: $light-color;
      }
    }
  }
}

.redirect {
  
  text-align: center;
  font-size: 0.9em;
  place-self: center;
  margin-bottom: 2em;
  

  a {
    display: block;
    background-color: $color-mostly-transparent;
    border: solid 1px $color-semi-transparent;
    border-radius: 15px;
    color: $light-color;
    padding: 0.5em;

    &:hover, &:active {
      opacity: 0.8;
    }

    p {
      padding: 0em;
      margin: 0px !important;
    }
  }
}

h1.has-text-white {
  color: rgb(49, 21, 27);
  font-style: italic;

  a {
    color: inherit;
  }
}

h1.has-text-brown,
h5.has-text-brown {
  color: rgb(49, 21, 27);
  // font-style: italic;

  a {
    color: inherit;
  }
}

div.has-text-brown {
  color: rgb(49, 21, 27);
  

  a {
    color: inherit;
  }
}

div.has-text-white {
  color: #efefef;
  
}




.image-container {
  width: 115px;
  height: 115px;
  place-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.img {
  max-width: 115px;
  max-height: 115px;
}

.birds {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-evenly;
}

.scrapbook-entry {
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em;
  border: solid 1px lightgrey;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: $card-bg;

  &:hover {
    background-color: #dedede;
  }
}

.bird-profile-img {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  margin: 1em auto;
  img {
    max-width: 300px;
    max-height: 300px;
  }
}

.birdDetails {
  padding: 1em;
  
}

// .mapboxgl-map button {
//   display: block;
//   width: 2em !important;
// }
.buttons {
  margin-top: 1em;
  justify-content: space-around;
}
.button {
  text-transform: uppercase;
}

.navigation {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  width: auto;

  a {
    width: 100px;
    padding: 0.5em;
    border-radius: 10px;
    border: solid 1px $color-semi-transparent;
    background-color: $color-semi-transparent;
    margin: 1em;
    text-align: center;
    color: $light-color;
  }
}

.navLink {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  background-color: $color-semi-transparent;
  border-radius: 50%;

  box-sizing: content-box;
  transform: translateX(-50%);

  &.inline {
    position: relative;
  }

  a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    color: $light-color;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0px;
  }
}

a {
  color: $color-semi-transparent;
  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;

  img {
  width: 75px;
  height: auto;
  border-radius: 50%;
  }
}

.overlays {
  position: relative;

  .mapboxgl-marker {
    z-index: 4;
  }

  .mapboxgl-popup {
    position: absolute;
    top: 25% !important;
    left: 15% !important;
    margin: 0px;
    width: 70%;
    background: $card-bg;
    border-radius: 15px;
    padding: 1em;
    transform: none !important;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 5;

    @media only screen and (min-width: 800px) {
      left: 25% !important;
      width: 50%;
    }

    .mapboxgl-popup-content {
      box-shadow: none;
      padding: 0px;
      background-color: transparent;

      img {
        max-width: 200px;
        @media only screen and (min-width: 800px) {
          max-width: 300px;
        }
      }

      p.title.is-6 {
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      a.closePopup {
        color: rgba(200, 100, 100, 0.9);
        border: solid 1px rgba(200, 100, 100, 0.9);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}

.progress {
  display: flex;
  position: relative;
  height: auto;
  justify-content: center;

  progress {
    background-color: #f3f3f3;
    border: solid 1px $color-semi-transparent;
    height: 50px;
    width: 50%;
    min-width: 200px;
    border-radius: 1em;

    &::-webkit-progress-bar {
      background-color: #b5bd91;
      border: solid 1px $color-semi-transparent;
      border-radius: 1em;
    }

    &::-webkit-progress-value {
      background-color: $color-semi-transparent;
      border-radius: 1em;
    }
  }

  .value {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
  }
}

.capitalized {
  text-transform: capitalize;
}

.mapboxgl-popup-content {
  div {
    img {
      width: 200px;
      height: auto;
    }
  }
}

.birdIcons {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: 2rem;
  }
}

.birdTag {
  text-align: center;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-ctrl {
  &.mapboxgl-ctrl-group {
    position: absolute;
    right: 1em;
    top: 1em;
    display: inline-block;
    justify-self: flex-end;
    width: auto;
    border-radius: 50%;
  }
}

.mapContainer {
  div:first-child {
    border-radius: 15px;
  }
}
.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// .content h1.birdName {
//   border-bottom: solid 1px lightgrey;
//   margin-bottom: 0px;
// }
// .subtitle {
//   display: flex;
//   justify-content: space-between;
//   font-size: 1.4em;
//   font-weight: bold;
//   p {
//     margin-top: 0px;
//     padding-top: 0px;
//   }
// }
.birdBackground {
  background-image: linear-gradient(
      rgba(121, 38, 5, 0.404),
      rgba(121, 38, 5, 0.404)
    ),
    url('/images/navImage.jpg');
  background-size: cover;
}

.user-name {
  text-transform: uppercase;
}

.bird-profile-img {
  padding-top: 100px;
}

.hidden {
  display: none;
}


.user-profile-img {
  position: relative;
  display: grid;
  padding-top: 100px;
  place-items: center;
  img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  }
  .imgToggle {
    position: relative;
    top: 0px;
    left: 150px;

    font-size: 2em;
  }
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bronze-medal {
  color: #AD8A56;
}

.silver-medal {
  color: #B4B4B4;
}

.gold-medal {
  color: #C9B037;
}

.user-icon {
  font-size: 150px;
  color: $color-semi-transparent;
}

.main-title {
  color: #b5bd91;
}

.bird-name {
  color: rgba(121, 38, 5, 0.404);
}

.value {
  color: #ece8e8;
}
