// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Raleway", sans-serif;
$color-semi-transparent: rgba(255, 255, 255, 0.8);

// Update some of Bulma's component variables

* {
  font-family: $family-sans-serif;
}
