* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#scrapbook {
  height: 100vh;
  width: 100vw;
}

.card {
  min-height: 90vh;
  border-radius: 15px;
}

.img {
  border-radius: 100%;
}
.birds {
  width: 50%;
}

.flex-wrap-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
